<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><i class="fas fa-film me-2"></i>Kino-site</h5>
                <p class="mb-0">Din biograf online - boka, upptäck, recensera</p>
            </div>
            <div class="col-md-3">
                <h6>Snabblänkar</h6>
                <ul class="list-unstyled">
                    <li><a href="/filmer" class="text-light text-decoration-none">Filmer</a></li>
                    <li><a href="/visningar" class="text-light text-decoration-none">Visningar</a></li>
                    <li><a href="/om-oss" class="text-light text-decoration-none">Om oss</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Kontakt</h6>
                <p class="mb-1"><i class="fas fa-envelope me-2"></i>info@kino-site.se</p>
                <p class="mb-0"><i class="fas fa-phone me-2"></i>08-123 45 67</p>
            </div>
        </div>
        <hr class="my-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Kino-site. Alla rättigheter förbehållna.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <small class="text-muted">Utvecklad med ❤️ av Team Kino</small>
            </div>
        </div>
    </div>
</footer>
